<!DOCTYPE html>
<html>

<head>
    <title>President's Message</title>
    <link rel="stylesheet" href="/css/AboutHKMU.css">
</head>

<body>
    <div id="header">
        <h1>President’s Message</h1>
        <hr>
    </div>
    <div id="nav">
        <ul class="outside">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/AboutHKMU2">University Motto</a></li>
        </ul>
    </div>
    <div id="content">
        <img src="/img/abouthkmu/About1.jpeg" alt="President" width="500" height="400" style="float:left">
        <p>&nbsp; &nbsp; Welcome to Hong Kong Metropolitan University (HKMU).
        <p>&nbsp; &nbsp; On behalf of the entire team, I am thrilled to extend a warm welcome to you as our newest
            member. We are excited to have you join our community and contribute to our mission.</p>
        <p>&nbsp; &nbsp;At HKMU, we believe in fostering a culture of inclusivity, collaboration, and growth. </p>
        Each member of our team plays a vital role in our collective success,
        and we are confident that your skills and expertise will greatly contribute to our efforts.</p>
        <p>&nbsp; &nbsp;As you embark on this new journey with us, I encourage you to embrace the opportunities that lie
            ahead.
            Our organization is committed to providing a supportive environment where you can thrive both personally and
            professionally.
            We value diversity and believe that it is through the unique perspectives and experiences of each individual
            that we can achieve greatness.</p>
        <p>&nbsp; &nbsp;I encourage you to take the time to get to know your colleagues, engage in meaningful
            collaborations,
            and explore the resources and opportunities available to you.
            We have a talented and dedicated team who are always ready to support and guide you along the way.</p>
        <p>&nbsp; &nbsp;I am excited to witness your growth and the contributions you will make to our organization.
            Together, we will continue to make a difference and achieve new milestones.</p>
        <p>&nbsp; &nbsp;Once again, welcome to HKMU. We are honored to have you as part of our team.</p>
        <p style="float: right">Best regards,</p>
    </div>
</body>

</html>