<!DOCTYPE html>
<html>

<head>
    <title>University Motto</title>
    <link rel="stylesheet" href="/css/AboutHKMU.css">
</head>

<body>
    <div id="header">
        <h1>University Motto</h1>
        <hr>
    </div>
    <div id="nav">
        <ul class="outside">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/AboutHKMU1">President’s Message</a></li>
        </ul>
    </div>
    <div id="content" class="center">
        <h5>"Veritas vos liberabit"</h5>
    </div>
</body>

</html>