<!DOCTYPE html>
<html>
    <head>
        <title>Student Bar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/Bar-Student.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <div class="box">
                <img src="/img/studentbar/Student-Logo.png" width="90px" height="90px" alt="Student Logo"><br><br>
                
                <a href="/Bar-Student/Dashboard" target="rightframe"><img src="img/studentbar/Dashboard.png" alt="Dashboard Logo">&nbsp;Dashboard</a>
                <a href="/Bar-Student/Booking" target="rightframe"><img src="img/studentbar/Booking.png" alt="Booking">&nbsp;Booking</a>
                <a href="/Bar-Student/courses" target="rightframe"><img src="img/studentbar/Courses.png" alt="Courses">&nbsp;Courses</a>
                <a href="/Bar-Student/Result" target="rightframe"><img src="img/studentbar/Result.png" alt="Result">&nbsp;Result</a>
                <a href="/Bar-Student/Schedule" target="rightframe"><img src="img/studentbar/Schedule.png" alt="Schedule">&nbsp;Schedule</a>
                <a href="/logout" target="home"><img src="img/studentbar/LogOut.png" alt="Log Out">&nbsp;Log Out</a>

        </div>  
    </body>
</html>
