<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
            <frameset cols ="15%, 85%">
                <frame name="leftframe" src="/Bar-Student"
                     marginwidth = 30 marginheight = 20 scrolling="yes">
                <frame name="rightframe" src="/Bar-Student/Dashboard"
                     marginwidth = 30 marginheight = 20 scrolling="yes">
    </frameset>
    </head>

</html>
